<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="IKVM" version="7.4.5196.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="Mono.Posix.NETStandard" version="1.0.0" targetFramework="net48" />
  <package id="Mono.Posix-4.5" version="4.5.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net48" />
  <package id="SvgNet" version="1.0.8" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.Compression.Net.Core" version="23.1.39" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="23.1.39" targetFramework="net48" />
  <package id="Syncfusion.Pdf.AspNet" version="22.1.34" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Net.Core" version="23.1.39" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.4.0" targetFramework="net48" />
</packages>